.outrage {
  color:darkred;
  font-weight: bold;
}

.towns {
  color:black;
  background-color:aqua;
  border: 5px outset darkblue;
}

body {
  padding: 15px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}